

{% block body %}
    <h1>Edit Student</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.age) }}
    {{ form_row(form.classroom) }}
    <button type="submit" class="btn btn-primary">Edit</button>
    {{ form_end(form) }}
    <a href="{{ path('fetch') }}">Back</a>
{% endblock %}