<table>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
             <th>Age</th>
             <th>Classroom</th>
              <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for i in response %}
            <tr>
            <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.age }}</td>
                <td>{{ i.classroom }}</td>
                <td>
                <a href="{{ path('modify', {id: i.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="{{ path('remove', {id: i.id }) }}" class="btn btn-danger btn-sm">Remove</a>
                 </td>
            </tr>
            
        {% endfor %}
    </tbody>
</table>
<a href="addF" class="btn btn-primary">add</a>
